[Desktop Entry]
Version=1.0
Type=Application
Name=Betriebssystem installieren
Comment=
Exec=/usr/bin/arch-install y %VERSION%
Icon=install
Path=
Terminal=true
StartupNotify=false
