[Desktop Entry]
Type=Application
Icon=/usr/share/pixmaps/install.png
Name[de]=Installieren
Name[en]=Install
Exec=sh -c "xterm -e /usr/bin/arch-install-non_root"
Terminal=false
Categories=ConsoleOnly;System;
StartupNotify=false
